
body{
    background: #7F8688;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
   
}
main {
    flex: 1 0 auto;
  }
  
.content{
    background: #fff;
    /* margin: 30px auto; */
    padding:  20px 30px;
}


i.material-icons.secondary-content{
    cursor: pointer;
}